.DS_Store
.idea/
.vscode/
*.log

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
coverage.xml
htmlcov/
venv/
.venv/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Kubernetes and Helm
charts/
*.tgz

# Local env
.env
.env.*
!.env.example
