project_name = "enterprise-commerce"
environment  = "secondary"
region       = "us-west-2"

cluster_version                = "1.35"
cluster_endpoint_public_access = false
cluster_endpoint_public_access_cidrs = []

admin_role_arns = [
  "arn:aws:iam::111111111111:role/platform-admin"
]

tags = {
  Owner      = "platform"
  CostCenter = "ecommerce"
}
